* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    background-image: url(./img_gameover2.jpg);
    font-family: "Kaushan Script", cursive;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    width: 1000px;
    height: 200px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.541);
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }
  header h1 {
    color: white;
  }
  
  .container {
    width: 50%;
    height: 50%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 2px white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.616);
  }
  .container p {
    padding: 5px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  button p {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    font-weight: bolder;
  }
  .icone {
    width: 30px;
  }